<div class="container">
    <h2>View 1</h2>
    <h3>Looping with the ng-repeat Directive</h3>

    Search Name:
    <input type="text" ng-model="filter.name">

    <ul>
        <li ng-repeat="customer in customers | filter:filter.name | orderBy:'city'">
            {{ customer.name | capitalize }} - {{ customer.city | uppercase }}
        </li>
    </ul>

    Customer Name:
    <input type="text" ng-model="newCustomer.name">

    Customer City:
    <input type="text" ng-model="newCustomer.city">

    <button ng-click="addCustomer()">Add Customer</button>

    <a href="#/View2"></a>

</div>